.header-logo {
    width: 65px;
    height: auto;
}



a:visited {
  color: #1dcaca;
  
               /* Gray (visited links) */
}

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
  }
 

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
          /* Blue border */
    margin: 0px;  
                     /* Space outside the section */
    padding: 1px;                   /* Space inside the section */
    
  }
  
  /* Style for all articles inside sections */
  section article {
   
    flex:  1 calc(10% - 300px);
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fff8dc;       /* Light yellow background */
    border-radius: 40px;
    margin-left: 0px;                 /* Space between articles */
    margin-top:0px ;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

   article img {
    max-width: 100%;
      
    
}
  
  
  .checkmark-ul {
    list-style-image:url("./image/check-mark.jpg");
  }
  .lorem-image {
    float: left;
    margin-right: 10px;
    
  }
  .floated-p {
    margin-top: 30px;
  }
  .little-roman-type-ol {
    list-style-type:lower-roman;
  }

#page2-blockquote {
    margin-top:50px;
  background-color: rgb(211, 102, 221);
  color:#5add0f;
  display: block;
  font-size: 1.5em;
  text-align: center;
}
#lorem-image {
  margin-bottom: 2px;
  padding: 0px;
}
#blockquote-div {
  margin-top: 10px;
}
blockquote cite {
  
  
  color:white;
  padding: 10px;
  font-size: 0.8em;
  
  
}
#page2-pre-code {
  background-color: #ff8c00;
  font-size: 1.4em;
  display: block;
  color: black;
}

.data {
  border-collapse: collapse;
  
  
}
#div-tabel {
  display: flex;
  
}
table {
  display: flex;
  border-collapse: collapse;
  justify-content: center;
  
}
table th {
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: rgb(90, 112, 187);
  color: #ff8c00;
}
table td {
  border: 1px solid black;
  background-color: #ffcc00;
  background-color: rgb(26, 122, 7);
  
  color: white;
  flex: 1;
  height:auto;
  padding: 10px;
  text-align: center;
  
}

.ads-images {
    display: flex;
    justify-content: center;
    max-height: 100px;
}

@media screen and (min-width:751px) and (max-width: 950px)
{
#current-stock {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
 
}
#current-stock table{
 margin-left: 100px;
}
#current-stock h2 {
  margin-left: 200px;
}
#current-stock form {
  margin-right: 100px;
  width: 350px;
}
.weekly-chart {
  display: block;
}
/* receiving and Shipping */
  .receiving-main-sections {
    display: block;
    
  }

  /* Materials */
  #materials-list {
    display: flex;
    justify-content: center;
  }
  #receive form {
   display: grid;
   
  }
  .weekly-chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    align-content: center;
  }
  #underlaypiechart-div {
    
    margin-left: 50px;
    width: 400px;
    height: 300px;
  }
  #activitychart-div {
    align-content: center;
    width: 400px;
    height: 300px;
    height: auto;
    margin-left: 50px;
  }
}

@media screen and (min-width:951px) {
  .weekly-chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    align-content: center;
  }
   #underlaypiechart-div {
    
    margin-left: 200px;
    width: 400px;
    height: 300px;
  }
  #activitychart-div {
    
    margin-left: 50px;
  }
}